.top5 {
  margin-top: 5px; }

.top10 {
  margin-top: 10px; }

.top20 {
  margin-top: 20px; }

.padding20 {
  padding: 20px; }

.italic {
  font-style: italic; }

.letter {
  letter-spacing: 1px; }

.login {
  background: url(../img/bg1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

/* nav { */
/*   background-color: #ff84d5; } */

.border-raduis-10 {
  border-radius: 10px; }

.light-text {
  color: rgba(247, 242, 242, 0.84); }

.hot-pink {
  background-color: #FF60C9; }

.hot-pink:hover {
  background-color: #e00094; }

.hot-pink-transparent {
  background-color: rgba(247, 242, 242, 0.84); }

.logo-img {
  background: url("../img/logo_1.png") no-repeat center center;
  height: 200px;
  width: 100%; }

.logo {
  height: 85px;
  margin-top: -5px; }

.container {
  width: 85% !important;
  height: 640px;
  overflow: hidden; }

.img-btn {
  max-width: 100%;
  max-height: 100%; }

.friend-list {
  position: fixed;
  top: 150px;
  background-color: #FF60C9;
  padding: 10px 10px; 
  max-height: 410px;
  z-index: 999;
  /*overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;*/
}
.newsfeed-card {
  position: relative;
}
.vote {
  position: absolute  ;
  top: 10px;
  right: 20px;
}
.vote i {
  font-size: 15px;
}

.friend-container {
  padding: 5px;
  position: relative; 
}

.friend-img {
  width: 50px;
  height: 50px;
  border-radius: 5px; 
  -webkit-transition: all .1s;
  transition: all .1s; 
}

.friend-container:hover .friend-details {
  visibility: visible;
  display: inline-block; }

.friend-details {
  visibility: hidden;
  position: absolute !important;
  top: 0;
  left: 65px; }

.tooltip {
  position: absolute;
  opacity: 0;
  color: #FFF;
  top: -100px;
  left: -150px;
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: all 500ms; /* For Safari 3.1 to 6.0 */
  transition: all 500ms;  
}

.friend-container:hover {
  cursor: pointer;
}

.friend-container:hover .tooltip {
    opacity: 1;
    display: block;
    left: 85px;
}

.friend-container:hover .friend-img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3); 
  transform: scale(1.3);
}

.card {
  color: #000;
}
.card .card-title {
  color: #000;
}

.card .card-content {
  padding: 5px; 
}

textarea.materialize-textarea,
textarea.materialize-textarea:focus {
  border-bottom: 1px solid #000;
  color: #000 !important; }
  textarea.materialize-textarea + label,
  textarea.materialize-textarea:focus + label {
    color: #000 !important; }

.btn {
  background-color: #FF60C9; }
  .btn:hover, .btn:focus {
    background-color: #FF60C9; }


::-webkit-scrollbar-track,
::-moz-scroller-track{
  background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */
       
::-webkit-scrollbar-thumb,
::-moz-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */
             
::-webkit-scrollbar-button,
::-moz-scrollbar-button {
  background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner,
::-moz-scrollbar-corner {
  background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
