<!DOCTYPE html>
<html lang="en" ng-app="thanku">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thank&#x000FC</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    </head>

    <body class="amber lighten-4" ng-controller="DashboardController as vm" ng-init="vm.init()">
      <div class="navbar-fixed">
      <nav class="pink accent-1 ">
        <div class="nav-wrapper">
          <div class="col l12">
            <ul class="right">
              <li>
                <a href="#!"> Hi {{ current_user.first_name }} </a>                
              </li>
              <li>
                <a href="/logout"> Sign out </a>
              </li>
            </ul>
            <div class="right top5" style="margin-right:10px">
              <img src="{{ current_user.image }}" class="responsive-img" />              
            </div>
          </div>

          <a href="/dashboard"> 
            <img src="{{ url_for('static', filename='img/logo.PNG') }}" class="logo" alt="Logo"/>
          </a>
        </div>
        </nav>
      </div>

      <div class="row top20" ng-init="vm.init()" ng-cloak>
        <div class="friend-list row">
          <div class="s12 m12 l12 friend-container " ng-repeat="user in vm.users">
            <img class="friend-img" ng-src="{[{user.image}]}">
            <div class="tooltip card-panel white friend-details z-depth-5">
              <span class="">{[{user.first_name}]}</span>
              <div class="right">
                <div class="btn waves-effect" ng-click="vm.vote(1,user.id)">
                  <i class="mdi-action-stars"></i>
                </div>
                <div class="btn waves-effect" ng-click="vm.vote(2,user.id)">
                  <i class="mdi-action-stars"></i>
                  <i class="mdi-action-stars"></i>
                </div>
              </div>
              <div class="input-field col s12">
                <textarea id="textarea1" ng-model="vm.reason" class="materialize-textarea no-margin no-pad white-text"></textarea>
                <label for="textarea1" class="white-text">Reason</label>
              </div>              
            </div>
          </div>
        </div>
        <div class="col l8 m8 offset-l2 offset-m2">
          <div class="card-panel newsfeed-card" ng-repeat="nf in vm.newsfeed | orderBy:'-timestamp'">
            <div class="row valign-wrapper">
              <div class="col s2 m2 l2">
                <img class="newsfeed-img" ng-src="{[{nf.user.image}]}" >
              </div>
              <div class="col s10 m10 l10">
                <span><strong>{[{ nf.user.first_name  }]} {[{ nf.user.last_name  }]}</strong></span>
                <br>
                <em>
                  <small class="">{[{ vm.getMomentTime(nf.timestamp)  }]}</small>
                </em>
                <br>
                <span>{[{ nf.message  }]} </span>
                <div ng-if="nf.point==1" class="right vote"> 
                  <i class="mdi-action-stars"></i>
                </div>
                <div ng-if="nf.point==2" class="right vote"> 
                  <i class="mdi-action-stars"></i>
                  <i class="mdi-action-stars"></i>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/angular.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/angular-route.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/toastr.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/materialize.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/moment.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
      <script src="{{ url_for('static', filename='js/services/ApiService.js') }}"></script>
      <script src="{{ url_for('static', filename='js/controllers/DashboardController.js') }}"></script>
  </body>
</html>
