<!DOCTYPE html>
<html lang="en" ng-app="thanku">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thank&#x000FC</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


      <div class="container valign-wrapper">
        <br /> <br /> <br />
        <div class="row ">
          <div class="col l12">
            <div class="row">
              <div>
                <img class="responsive-img center-block " style="height: 139px;" src="{{ url_for('static', filename='img/logo_1.png') }}">
              </div>
            </div>

            <div class="row center-align light-text">
              <h5> Just saying a simple "thank you" to someone could brighten his/her day. </h5>
            </div>
            <div class="row">

              <div class="center-align">
                <a class="waves-effect waves-light hot-pink btn-large" href="/facebook/login" tabindex="3">
                  <i class="fa fa-facebook-square left"></i>
                  <span>Sign in with Facebook</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

        <!-- <div class="view-frame animated-view" ng-view></div> -->

      <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/angular.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/angular-route.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/toastr.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/materialize.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
      <script src="{{ url_for('static', filename='js/services/ApiService.js') }}"></script>
      <script src="{{ url_for('static', filename='js/controllers/DashboardController.js') }}"></script>
  </body>
</html>
